[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "QuantileModels"]
	path = QuantileModels
	url = https://github.com/cran/QuantileModels
